@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:wght@500&family=Raleway:wght@100;200;400;500&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
body{
    background-color: #F6F0F0;
}
section{
    margin-top: 50px;
}


/*entt*/

header{
    background-color: #E1E1E1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}

/*part1 logo JCM Community manager*/
header .logo a{
    font-size: 20px;
    color: #000;
}
header .logo a span{
    color: #A83D17;
}

/*Navbar alignement points*/
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    margin: 0 15px;
    list-style-type: none;
}
.menu li a{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    transition: 0.2s;
}
.menu li a:hover{
    color: #cb4616;
}

.btn-services{
    color: #000;
    font-size: 14px;
    border: 2px solid #986C4A;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-services:hover{
    background-color: #986C4A;
    color: #fff;
}

/*Home css*/
#home{
    background: linear-gradient(rgba(0,0,0,0.1),#333), url("https://images.pexels.com/photos/3184160/pexels-photo-3184160.jpeg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#home h1{
    font-size: 45px;
    margin-bottom: 20px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
}

#home h2, h3{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.home-btn{
    margin-bottom: 5px;
}

/*section 2*/
.section2{
    margin: 50px 0;
    padding: 0 10%;
}
.section2-list{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: 0 10%;
}

.section2-list img{
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    width: 350px;
    border-radius: 10px;
    margin-bottom: 2px;
}

h4{
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2-list .box{
    transition: 0.5s ease-out;
    cursor: pointer;
}

.section2-list .box:hover{
    transform: scale(1.05);
}

/*gallery*/
.gallery{
    background-color: #cdc1c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 50px 50px 0 0;
  }
  .gallery h2{
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
    text-transform: uppercase;
  }
  
  .gallery_images{
    display: grid;
    grid-template-columns: repeat(auto-fill,31.12%);
    gap: 40px;
    width: 100%;
    justify-content: center;
    padding: 0 50px;
  }
  .gallery_img{
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 5px;
  }
  .gallery_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  .gallery_img:hover img{
  transform: scale(1.5) rotate(5deg);
  }
  .gallery_img .content{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    text-transform: uppercase;
    transform: translateY(100%);
    transition: 0.5s;
  }
  .gallery_img:hover .content{
    transform: translateY(0);
  }
  
  footer{
    border-top: 1px solid #787878;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 30px;
  }
  
#aboutme{
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*scrollbar css*/

::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}

#aboutme .left{
    width: 40%;
}
#aboutme .left h5{
    font-size: 50px;
    margin-bottom: 10px;
}
#aboutme .left p{
    margin-bottom: 35px;
    color:#986C4A;
    font-size: 20px;
}
#aboutme .left a{
    background-color: #000;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    transition: 0.5s;
}

#aboutme .left a:hover{
    background-color:#A83D17;
}
#aboutme .right{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutme .right img{
    width: 100%;
}

.img-aboutme{
    width: 700px;
    height: auto;
}

/*section contact*/

#contactme{
    display: flex;
    align-items: center;
    margin: center;
}
#contactme .left{
    width: 40%;
}
#contactme .left h6{
    font-size: 50px;
    margin-bottom: 10px;
}
#contactme .left p{
    margin-bottom: 35px;
    color:#986C4A;
    font-size: 20px;
}
#contactme .left a{
    background-color: #000;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    transition: 0.5s;
}

#contactme .left a:hover{
    background-color:#A83D17;
}
#contactme .right{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactme .right img{
    width: 100%;
}
.img-contactme{
    width: 700px;
    height: auto;
}
/*section map*/

.map{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 12%;
}
.localisation_contact_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% 0;
}
.localisation{
    width: 49%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.localisation iframe{
    width: 100%;
    border-radius: 6px;
}

.localisation_contact_div .form_contact{
    width: 49%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 6px;

}
.localisation_contact_div h3{
    margin-bottom: 10px;
    font-size: 18px;
}
.localisation_contact_div .form_contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.form_contact form input , textarea{
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
    resize: none;
}
.form_contact form input[type="submit"]{
    margin-bottom: 0;
    background-color: #A83D17;
    color: #fff;
    border:0;
}

footer{
    margin-top: 60px;
    background-color: #ccc;
    height: auto;
    padding-top: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{
    font-size: 50px;
    margin: 10px 0;
}

.footer-content p{
    max-width: 500px;
    margin: 20px 0;
    letter-spacing: 1px;
    font-size: 15px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.socials li{
    margin: 0 20px;
}
.socials a{
    text-decoration: 0;
    color: #333;
    font-size: 20px;
}

/*Responsive*/
@media (max-width:682px){
    header{
        padding: 0 10px;
    }
    header .menu{
        display: none;
    }
    #aboutme{
        padding: 0 10px;
        justify-content: center;
        flex-direction:column ;
    }
    #about.me .left , .right{
        width: 100%;
    }
    .right{
        margin-top: 50px;
        width: 60%;
    }
    .image li{
        width: 100%;
    }
}